[user]
	name = piotr-marendowski
	email = piotr-marendowski@tutanota.com

[core]
    pager = default

[interactive]
    diffFilter = default

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
