! Remeber to use:
! xrdb -merge ~/.Xresources

! Tokyo Night theme
! Dmenu
dmenu.font : JetBrainsMono Nerd Font:size=20
dmenu.background : #24283b
dmenu.foreground : #a9b1d6
dmenu.selbackground : #7aa2f7
dmenu.selforeground : #24283b
