[Desktop Entry]
Name=DeepL-ES-EN
GenericName=Web app for DeepL
Comment=Web app for DeepL
Exec=/home/Kenny/DeepLSP-EN-linux-x64/DeepLSP-EN
Type=Application
Keywords=web;internet
Icon=firefox
Categories=internet
StartupNotify=false
